.signupWrapper{
    background-color: white;
    /* margin: 5% 34%; */
}
.signUpInput{
    width: 100%;
    height: 33px;
    border-radius: 10px;
    margin: 10px 0;
    border:1px solid #4e73df;
    font-size: 18px;

}

.signupSubtitle{
    color: #4e73df;
    font-weight: bold;
}
.signupTitle{
    color: #4e73df;
}
.labelUp{
    color: #4e73df;
}
.buttonSign:hover{
    background-color:  white;
    color: #4e73df;
    margin-top: 20px;
    margin-right: 20px;
    padding: 8px 20px;
    border: 1px solid #4e73df;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}
.buttonSign{
    background-color:  #4e73df;
    color: white;
    margin-top: 20px;
    margin-right: 20px;
    padding: 8px 20px;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}
.already{
    color:  #c3dbf5;

}
